---
import { Image } from "astro:assets";
---

<div class="aside-profile-container">
  <Image
    src={"/masaya_nishigaki.jpg"}
    width={512}
    height={512}
    alt={"西垣雅矢のプロフィール画像"}
    format="avif"
    class="mx-auto rounded-full mt-6"
  />
  <div class="text-center mt-8">
    <h2 class="text-lg font-semibold">西垣 雅矢</h2>
    <p class="text-sm">Web Developer</p>
  </div>
  <div class="px-6 py-4">
    <p class="text-xs">
      本ブログ管理人兼エンジニア。モダンフロンドエンド開発、テスト自動化が得意です。
    </p>
  </div>
</div>

<style>
  .aside-profile-container {
    @apply mx-auto overflow-hidden;
    max-width: 350px;
    margin-left: 0;
    background: rgba(74, 74, 74, 0.3);
    box-shadow: 0 8px 32px 0 rgba(68, 68, 68, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
  }

  .aside-profile-container > img {
    width: 100px;
  }
</style>
