---
import { getArticles } from "@/libs/microcms/blog";
import type { GetStaticPathsOptions } from "astro";
import BlogList from "@/features/Blog/List/BlogList.astro";
import BlogListLayout from "@/layouts/BlogListLayout.astro";
import Pagination from "@/features/Pagination/Pagination.astro";
import { getCategories } from "@/libs/microcms/category";
import type { Pagination as ArticlePagination } from "@/types/pagination";

type Props = ArticlePagination;

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const categoriesRes = await getCategories();
  const categories = categoriesRes.contents;

  const articlesRes = await getArticles();
  const articles = articlesRes.contents;

  return categories.flatMap((c) => {
    const categorizedArticles = articles.filter((article) =>
      article.category.map((ac) => ac.id).includes(c.id)
    );
    return paginate(categorizedArticles, {
      params: { categoryId: c.id },
      pageSize: 10,
    });
  });
}

const { page } = Astro.props;
const categorizedArticles = page.data;

const categories = categorizedArticles.map((p) => p.category).flat();
const { categoryId } = Astro.params;
const category_of_this_page = categories.find((c) => c.id === categoryId);
---

<BlogListLayout>
  <h1 class="blog-list-title">
    {category_of_this_page?.name}関連の記事 全{page.lastPage}ページ中{
      page.currentPage
    }ページ目
  </h1>
  <BlogList articles={categorizedArticles} />
  <Pagination {page} />
</BlogListLayout>

<style>
  .blog-list-title {
    @apply text-2xl font-bold mb-10;
  }
</style>@/libs/microcms/category
