---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import AstroReactSampleComponent from "@/components/AstroReactSampleComponent";
import HomeLayout from "@/layouts/HomeLayout.astro";
import NewArrivalPosts from "./NewArrivalPosts.astro";
import BlogContents from "./BlogContents.astro";
import SnsAndMedia from "./SnsAndMedia.astro";
import JobRequest from "./JobRequest.astro";
---

<HomeLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="home flex flex-col gap-8">
    <div class="mb-5">
      <h1>Welcom to {SITE_TITLE}</h1>
    </div>
    <NewArrivalPosts />
    <BlogContents />
    <JobRequest />
    <SnsAndMedia />
  </div>
</HomeLayout>

<style is:global>
  h1 {
    @apply text-4xl font-bold mb-4;
  }

  .home h1::before {
    content: "🎉";
  }

  .home h2 {
    @apply text-2xl font-bold mb-2;
  }

  .home ul {
    @apply list-disc px-8;
  }
</style>
