---
import Icon from "astro-icon";
---

<div>
  <h2>
    <Icon
      name="emojione:handshake"
      class="w-6 inline-block mr-2"
    />お仕事のご依頼
  </h2>
  <p class="mb-2">
    下記関連のお仕事のご依頼は<a
      class="text-blue-500"
      href="mailto:masa199311266@gmail.com">メール</a
    >から
  </p>
  <p>Webサイト制作</p>
  <ul class="mb-2">
    <li>Astroを使用したハイパフォーマンスで高速なWebサイト、LPの作成</li>
    <li>WPその他のCMSからの移行</li>
  </ul>

  <p>Webアプリケーション開発</p>
  <ul class="mb-2">
    <li>
      モダンフロントエンド技術を駆使したWebアプリケーションの開発が可能です。バックエンド、インフラの構築も一括で承っております
    </li>
    <li>
      ただ開発するだけでなく、自動テストの組み込みや、アプリケーション自体の最適化を実施し、保守性の優れた成果物の納品を心がけております
    </li>
  </ul>

  <p>メンタリングサービス</p>
  <ul>
    <li>未経験からの転職に関するサポート、メンターを承っております</li>
  </ul>
</div>
