---
import Icon from "astro-icon";
---

<div>
  <h2>
    <Icon name="logos:youtube-icon" class="w-6 inline-block mr-2" />SNS/メディア
  </h2>
  <ul>
    <li>YouTubeでより詳細な技術情報を発信しています</li>
    <li>Github。こちら</li>
    <li>是非Twitterもフォローしてください</li>
    <li>LinkedIn</li>
  </ul>
</div>
