/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --text-color: #d1cfcf;
  --border-color: #3e3e3e;
  --bg-color: #252525;
  --bg-color-thick: #252525;
}

body {
  /* font-family: "Noto Sans JP Variable", sans-serif; */
  text-align: left;
  background-color: var(--bg-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  letter-spacing: 0.1em;
  line-height: 1.8;
  color: var(--text-color);
}

header h2 {
  color: var(--text-color);
}

main {
  @apply mx-auto py-3 lg:pt-6 lg:pb-20 lg:px-0;
  width: 90%;
  max-width: 1400px;
  min-height: 75vh;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

/* table {
  width: 2000px;
} */

table {
  border-collapse: collapse;
  margin: 20px auto;
  color: var(--text-color);
}

td,
th {
  border: 1px solid var(--border-color);
  padding: 10px;
}

article table p {
  @apply m-0;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
}

/* 全て初期値に戻す */
pre > code {
  all: unset;
}

blockquote {
  border: 1px solid var(--text-color);
  padding: 16px;
  font-style: italic;
  @apply my-5;
}

blockquote p {
  @apply m-0;
}

.text-link {
  @apply hover:underline;
  color: rgb(146, 180, 237);
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
