/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* ダークモード用 */
.dark body {
    background-color: #252525;
    color: #EBEBEB;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark p{
    color: #EBEBEB;
}

.dark hr {
    border-color: #474747;
}
  
.dark .nav-links a {
    color: #EBEBEB;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	text-align: left;
	background-color: #EBEBEB;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5px;
    letter-spacing: 0.08em;
	color: #252525;
}

main {
    @apply mx-auto;
    max-width: 55ch;
    padding: 20px;
}

hr {
    border-color: #474747;
}

a {
	color: #3273dc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
}
pre {
	padding: 1rem;
    background-color: #0d1117;
    overflow-x: auto;
    color: #EBEBEB;
    border-radius: 3px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
pre > code {
	all: unset;
}

