---
import Icon from "astro-icon";
import { Image } from "astro:assets";
---

<div>
  <h2>
    <Icon
      name="emojione:beer-mug"
      class="w-6 inline-block mr-2"
    />本ブログで取り扱う内容
  </h2>
  <ul>
    <li>300以上のテック記事</li>
    <li>月5万PVの実績</li>
    <Image src={"/pv.PNG"} width={312} height={512} alt={"月間PV数"} />
    <li>毎週ペースで記事更新</li>
    <li>WEB関連の技術の最新情報</li>
    <li>モダンフロントエンド技術、自動テスト</li>
    <li>DevOps、バックエンド、インフラ、DBなどフルスタックな技術情報</li>
    <li>エンジニアのキャリア戦略/転職に関する情報</li>
    <li>VSCode、chatGPT、その他開発に欠かせないツールの紹介</li>
  </ul>
</div>
