---
import AboutLayout from "@/layouts/AboutLayout.astro";
---

<AboutLayout title="経歴" description="西垣雅矢の経歴です">
  <p>プロフィール写真や経歴 、展望などを記載する</p>
  <p>経験年数、希望年収、リファラル採用求</p>
  <p>強み、職務経歴書</p>
  <p>
    記事の執筆、サイト回収を一緒に行ってくださるパートナーを募集しています!!
  </p>
  <p>
    本ブログは、Astroフレームワークを使って、SEOスコア評価を限りなく満点に近いように努力、コンテンツの見やすさ,UXを重視して頑張っています。でも一人では活動の幅が広がらないので、我こそはという方、コンテンツの提供さサイトの改修に貢献いただける方をお待ちしております。
  </p>
</AboutLayout>
