---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon";
---

<BaseLayout
  title={"免責事項"}
  description={"免責事項のページです"}
  context={"disclaimer"}
>
  <div>
    <h2 class="align-middle">
      <Icon name="noto:person-bowing" class="w-6 inline-block mr-2" />免責事項
    </h2>
    <p>
      当ブログからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
      また当ブログのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
      当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください
    </p>
  </div>
</BaseLayout>
