---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AstroReactSampleComponent from "@components/AstroReactSampleComponent";

import Layout from "../layouts/Home.astro";

const a = import.meta.env.PUBLIC_POKEAPI;
console.log(a);
---

<Layout title="Home" description="Blob home">
  <h1>🧑‍🚀 Hello, Astronaut!</h1>
  <AstroReactSampleComponent client:idle />
  <h2>記事一覧</h2>
  <div class="container">
    <img src="https://dummyimage.com/300x300.jpg" alt="" />
    <img src="https://dummyimage.com/300x300.jpg" alt="" />
    <img src="https://dummyimage.com/300x300.jpg" alt="" />
    <img src="https://dummyimage.com/300x300.jpg" alt="" />
    <img src="https://dummyimage.com/300x300.jpg" alt="" />
    <img src="https://dummyimage.com/300x300.jpg" alt="" />
    <img src="https://dummyimage.com/300x300.jpg" alt="" />
  </div>
  <p>
    Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
      >read the docs
    </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
  </p>
  <p>
    Looking for a blog template with a bit more personality? Check out <a
      href="https://github.com/Charca/astro-blog-template"
      >astro-blog-template
    </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
  </p>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }
</style>
