---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { SITE_TITLE } from "../consts";
import Icon from "astro-icon";
---

<header class="shadow-md">
  <div class="grid grid-cols-2 items-center">
    <h2 class="">
      {SITE_TITLE}
    </h2>
    <nav class="grid grid-cols-4 justify-between">
      <div class="col-span-3 text-right">
        <HeaderLink href="/">
          <Icon name="ion:home" class="w-6 inline-block align-middle" />
          <span class="align-middle hidden md:inline-block">Home</span>
        </HeaderLink>
        <HeaderLink href="/blog">
          <Icon name="fontisto:blogger" class="w-6 inline-block align-middle" />
          <span class="align-middle hidden md:inline-block">Blog</span>
        </HeaderLink>
        <HeaderLink href="/about">
          <Icon
            name="carbon:user-profile"
            class="w-6 inline-block align-middle"
          />
          <span class="align-middle hidden md:inline-block">About</span>
        </HeaderLink>
        <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
            Twitter
          </HeaderLink>
          <HeaderLink href="https://github.com/withastro/astro" target="_blank">
            GitHub
          </HeaderLink> -->
      </div>
      <ThemeIcon class="mr-auto col-span-1" />
    </nav>
  </div>
</header>
<style>
  header {
    margin: 0em 0 2em;
    padding: 20px;
  }

  header > div {
    @apply mx-auto;
    max-width: 100ch;
  }

  header h2 {
    @apply text-2xl font-bold;
  }
</style>
