---
import type { Article } from "@/libs/microcms/blog";
import BlogCardSide from "./BlogCardSide.astro";

type Props = {
  articles: Article[];
};

const { articles } = Astro.props;
---

<section class="mb-20">
  <div class="gap-6 grid grid-cols-1 lg:grid-cols-2">
    {articles.map((article) => <BlogCardSide post={article} />)}
  </div>
</section>
