---
import type { Article } from "@/libs/microcms/blog";
import FormattedDate from "@/components/FormattedDate.astro";

import { BlogListLink } from "./BlogListLink";
import BlogCategoryBadgeGroup from "../BlogCategoryBadgeGroup";

type Props = {
  post: Article;
};

const { post } = Astro.props;
---

<div class="card card-skin">
  <BlogListLink href={`/blog/${post.id}/`}>
    <div class="">
      <div class="">
        <h2>{post.title}</h2>
      </div>
      <BlogCategoryBadgeGroup
        categories={post.category.map((c) => {
          return {
            id: c.id,
            name: c.name,
          };
        })}
      />
      <!-- <div class="text-sm mt-3">閲覧数: 20</div> -->
      <div class="text-sm mt-3">
        <FormattedDate date={new Date(post.publishedAt)} />
      </div>
    </div>
  </BlogListLink>
</div>

<style>
  h2 {
    @apply text-xl font-bold mt-8 mb-2;
  }
</style>
