---
import BlogListLayout from "@/layouts/BlogListLayout.astro";
import type { Blog } from "@/libs/microcms/blog";
import BlogCard from "@/features/Blog/List/BlogCard.astro";

type Props = {
  posts: Blog[];
};

const { posts } = Astro.props;
---

<BlogListLayout
  title={"ブログ記事一覧"}
  description={"プログ記事一覧ページです"}
>
  <section>
    <div class="grid grid-cols-2 gap-6 mb-6 lg:grid-cols-3">
      {posts.map((post) => <BlogCard post={post} />)}
    </div>
  </section>
</BlogListLayout>
