---
import type { Blog } from "@/libs/microcms/blog";
import { Image } from "astro:assets";
import FormattedDate from "@/components/FormattedDate.astro";
import BlogListLink from "@/features/Blog/List/BlogListLink.astro";
type Props = {
  post: Blog;
};

const { post } = Astro.props;
---

<div class="card card-skin">
  <BlogListLink href={`/blog/${post.id}/`}>
    <Image
      src={post.eyecatch.url}
      width={512}
      height={288}
      alt={post.title}
      format="avif"
    />

    <div class="card__textbox">
      <div class="text-sm">タグ、閲覧数など表示</div>
      <div class="text-sm">
        <FormattedDate date={new Date(post.publishedAt)} />
      </div>
    </div>
  </BlogListLink>
</div>

<style>
  .card {
    height: auto;
  }

  .card__textbox {
    width: 100%;
    height: auto;
    padding: 20px 18px;
    box-sizing: border-box;
    color: var(--dark-mode-text-color);
  }

  .card-skin {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
</style>
