---
import BaseHead from "@/components/BaseHead.astro";
import { BreadCrumbs } from "@/components/BreadCrumbs/BreadCrumbs";
import Footer from "@/features/Footer/Footer.astro";
import Header from "@/features/Header/Header.astro";
import type { BaseLayoutProps } from "@/layouts/layout";

interface Props extends BaseLayoutProps {}

const { title, description, context, breadCrumbsList } = Astro.props;
---

<html lang="ja">
  <BaseHead {title} {description} />

  <body class="mx-auto">
    <Header {context} />
    <main class="fadeUp pt-20">
      <BreadCrumbs lists={breadCrumbsList} />
      <slot />
    </main>

    <Footer />

    

    <script>
      // lazyload adsense
      let lazyloadads = false;
      window.addEventListener(
        "scroll",
        function () {
          if (
            (document.documentElement.scrollTop != 0 &&
              lazyloadads === false) ||
            (document.body.scrollTop != 0 && lazyloadads === false)
          ) {
            (function () {
              var ad = document.createElement("script");
              ad.type = "text/javascript";
              ad.async = true;
              ad.src =
                "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9818131389918786";
              const sc = document.getElementsByTagName("script")[0];
              sc.parentNode?.insertBefore(ad, sc);
            })();
            lazyloadads = true;
          }
        },
        true
      );
    </script>

    <!-- <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7690343715983011"
    crossorigin="anonymous"></script> -->
  </body>
</html>

<style is:global>
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/blog-detail-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
    z-index: -1;
  }
</style>
