---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/features/Footer/Footer.astro";
import Header from "@/features/Header/Header.astro";

interface Props {
  title: string;
  description: string;
  context: string;
  heroImage?: string;
}

const { title, description, context, heroImage } = Astro.props;
---

<html lang="ja">
  <BaseHead {title} {description} {heroImage} />

  <body class="mx-auto">
    <Header {context} />
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
