---
import Header from "@/features/Header/Header.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/features/Footer/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="ja">
  <BaseHead title={title} description={description} />

  <body>
    <Header />
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
