---
import type { HTMLAttributes } from "astro/types";
import Icon from "astro-icon";

type Props = HTMLAttributes<"a"> & {
  icon?: {
    name: string;
    pos: "left" | "right";
  };
};

const { icon, href, class: className, ...props } = Astro.props;
---

<a href={href} class:list={["anchorLink", className]} {...props}>
  {
    icon && icon.pos === "left" && (
      <Icon name={icon.name} class="w-6 inline-block align-middle" />
    )
  }

  <span class="align-middle">
    <slot />
  </span>
  {
    icon && icon.pos === "right" && (
      <Icon name={icon.name} class="w-6 inline-block align-middle" />
    )
  }
</a>

<style>
  .anchorLink {
    @apply text-blue-600 dark:text-blue-500 hover:opacity-75;
  }
</style>
