---
import type { HTMLAttributes } from "astro/types";
import Icon from "astro-icon";

type Props = HTMLAttributes<"a"> & {
  color?: "white" | "blue";
  icon?: {
    name: string;
    pos: "left" | "right";
  };
  isBrank?: boolean;
};

const {
  color = "blue",
  icon,
  href,
  class: className,
  isBrank = false,
  ...props
} = Astro.props;
const colorClass = color === "blue" ? "blueLink" : "whiteLink";
---

<a
  target={isBrank ? "_blank" : "_self"}
  rel={isBrank ? "noopener noreferrer" : ""}
  href={href}
  class:list={[colorClass, className, "hover:opacity-75"]}
  {...props}
>
  {
    icon && icon.pos === "left" && (
      <Icon name={icon.name} class="w-6 inline-block align-middle" />
    )
  }

  <span class="align-middle">
    <slot />
  </span>
  {
    icon && icon.pos === "right" && (
      <Icon name={icon.name} class="w-6 inline-block align-middle" />
    )
  }
</a>

<style>
  .whiteLink {
    color: var(--text-color);
  }

  .blueLink {
    @apply text-blue-600;
  }
</style>
